anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
blas
bleach
bokeh
bottleneck
brotli
brotli-bin
brotlipy
bzip2
ca-certificates
certifi
cffi
charset-normalizer
colorcet
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
executing
flit-core
fonttools
freetype
giflib
holoviews
hvplot
icu
idna
intel-openmp
ipykernel
ipython
ipython_genutils
jedi
jinja2
jpeg
jsonschema
jupyter_client
jupyter_core
jupyter_server
jupyterlab_pygments
kiwisolver
lcms2
lerc
libbrotlicommon
libbrotlidec
libbrotlienc
libcxx
libdeflate
libffi
libgfortran
libgfortran5
libiconv
libpng
libsodium
libtiff
libwebp
libwebp-base
libxml2
libxslt
llvm-openmp
lxml
lz4-c
markdown
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mistune
mkl
mkl-service
mkl_fft
mkl_random
munkres
nbclassic
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
notebook
notebook-shim
numexpr
numpy
numpy-base
openssl
packaging
pandas
pandocfilters
panel
param
parso
patsy
pexpect
pickleshare
pillow
pip
platformdirs
pooch
prometheus_client
prompt-toolkit
psutil
ptyprocess
pure_eval
pycparser
pyct
pygments
pyopenssl
pyparsing
pyrsistent
pysocks
python
python-dateutil
python-fastjsonschema
pytz
pyviz_comms
pyyaml
pyzmq
readline
requests
scipy
seaborn
send2trash
setuptools
six
sniffio
soupsieve
sqlite
stack_data
statsmodels
terminado
tinycss2
tk
tornado
tqdm
traitlets
typing-extensions
typing_extensions
tzdata
urllib3
wcwidth
webencodings
websocket-client
wheel
xz
yaml
zeromq
zlib
zstd
nbconvert
